.container{
    margin-bottom: 50px;
}
.backcolor{
    background-color:#fceae8;
    border-radius: 9px;
}
.carousel-item{
    padding: 20px 40px;
}

.highlight{
    color: hotpink;
}
.link-button{
    background-image: linear-gradient(hotpink,hotpink);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 9px 25px;
    cursor: center;

}
.cat1, .cat2, .cat3{
    padding: 10px 10px;
    border-radius: 10px;
}

.cat1{
    background-color:orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color:blue;
    
}
.categories h5{
    color: white;
    font-weight: 700;
}
.categories img{
    width: 70px;
}
.card img{
    width: 100%;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px gray;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#Subscribe{
    height: 300px;
}
footer{
    text-align: center;
}
.card-footer{
    background-color: white;
}